In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [40]:
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

In [41]:
df = pd.read_csv("bank-additional.csv")

In [42]:
df.head

<bound method NDFrame.head of      age;"job";"marital";"education";"default";"housing";"loan";"contact";"month";"day_of_week";"duration";"campaign";"pdays";"previous";"poutcome";"emp.var.rate";"cons.price.idx";"cons.conf.idx";"euribor3m";"nr.employed";"y"
0     30;"blue-collar";"married";"basic.9y";"no";"ye...
1     39;"services";"single";"high.school";"no";"no"...
2     25;"services";"married";"high.school";"no";"ye...
3     38;"services";"married";"basic.9y";"no";"unkno...
4     47;"admin.";"married";"university.degree";"no"...
...                                                 ...
4114  30;"admin.";"married";"basic.6y";"no";"yes";"y...
4115  39;"admin.";"married";"high.school";"no";"yes"...
4116  27;"student";"single";"high.school";"no";"no";...
4117  58;"admin.";"married";"high.school";"no";"no";...
4118  34;"management";"single";"high.school";"no";"y...

[4119 rows x 1 columns]>

In [43]:
df.info

<bound method DataFrame.info of      age;"job";"marital";"education";"default";"housing";"loan";"contact";"month";"day_of_week";"duration";"campaign";"pdays";"previous";"poutcome";"emp.var.rate";"cons.price.idx";"cons.conf.idx";"euribor3m";"nr.employed";"y"
0     30;"blue-collar";"married";"basic.9y";"no";"ye...
1     39;"services";"single";"high.school";"no";"no"...
2     25;"services";"married";"high.school";"no";"ye...
3     38;"services";"married";"basic.9y";"no";"unkno...
4     47;"admin.";"married";"university.degree";"no"...
...                                                 ...
4114  30;"admin.";"married";"basic.6y";"no";"yes";"y...
4115  39;"admin.";"married";"high.school";"no";"yes"...
4116  27;"student";"single";"high.school";"no";"no";...
4117  58;"admin.";"married";"high.school";"no";"no";...
4118  34;"management";"single";"high.school";"no";"y...

[4119 rows x 1 columns]>

In [44]:
df.shape

(4119, 1)

In [45]:
df.describe

<bound method NDFrame.describe of      age;"job";"marital";"education";"default";"housing";"loan";"contact";"month";"day_of_week";"duration";"campaign";"pdays";"previous";"poutcome";"emp.var.rate";"cons.price.idx";"cons.conf.idx";"euribor3m";"nr.employed";"y"
0     30;"blue-collar";"married";"basic.9y";"no";"ye...
1     39;"services";"single";"high.school";"no";"no"...
2     25;"services";"married";"high.school";"no";"ye...
3     38;"services";"married";"basic.9y";"no";"unkno...
4     47;"admin.";"married";"university.degree";"no"...
...                                                 ...
4114  30;"admin.";"married";"basic.6y";"no";"yes";"y...
4115  39;"admin.";"married";"high.school";"no";"yes"...
4116  27;"student";"single";"high.school";"no";"no";...
4117  58;"admin.";"married";"high.school";"no";"no";...
4118  34;"management";"single";"high.school";"no";"y...

[4119 rows x 1 columns]>

In [46]:
df.columns

Index(['age;"job";"marital";"education";"default";"housing";"loan";"contact";"month";"day_of_week";"duration";"campaign";"pdays";"previous";"poutcome";"emp.var.rate";"cons.price.idx";"cons.conf.idx";"euribor3m";"nr.employed";"y"'], dtype='object')

In [47]:
df.dtypes

age;"job";"marital";"education";"default";"housing";"loan";"contact";"month";"day_of_week";"duration";"campaign";"pdays";"previous";"poutcome";"emp.var.rate";"cons.price.idx";"cons.conf.idx";"euribor3m";"nr.employed";"y"    object
dtype: object

In [48]:
df.dtypes.value_counts()

object    1
Name: count, dtype: int64

In [49]:
df.duplicated().sum()

np.int64(0)

In [50]:
df.isna().sum()

age;"job";"marital";"education";"default";"housing";"loan";"contact";"month";"day_of_week";"duration";"campaign";"pdays";"previous";"poutcome";"emp.var.rate";"cons.price.idx";"cons.conf.idx";"euribor3m";"nr.employed";"y"    0
dtype: int64

In [51]:
df.describe

<bound method NDFrame.describe of      age;"job";"marital";"education";"default";"housing";"loan";"contact";"month";"day_of_week";"duration";"campaign";"pdays";"previous";"poutcome";"emp.var.rate";"cons.price.idx";"cons.conf.idx";"euribor3m";"nr.employed";"y"
0     30;"blue-collar";"married";"basic.9y";"no";"ye...
1     39;"services";"single";"high.school";"no";"no"...
2     25;"services";"married";"high.school";"no";"ye...
3     38;"services";"married";"basic.9y";"no";"unkno...
4     47;"admin.";"married";"university.degree";"no"...
...                                                 ...
4114  30;"admin.";"married";"basic.6y";"no";"yes";"y...
4115  39;"admin.";"married";"high.school";"no";"yes"...
4116  27;"student";"single";"high.school";"no";"no";...
4117  58;"admin.";"married";"high.school";"no";"no";...
4118  34;"management";"single";"high.school";"no";"y...

[4119 rows x 1 columns]>

In [52]:
df.describe(include='object')

       age;"job";"marital";"education";"default";"housing";"loan";"contact";"month";"day_of_week";"duration";"campaign";"pdays";"previous";"poutcome";"emp.var.rate";"cons.price.idx";"cons.conf.idx";"euribor3m";"nr.employed";"y"
count                                                4119
unique                                               4119
top     34;"management";"single";"high.school";"no";"y...
freq                                                    1

In [57]:
cat_cols = df.select_dtypes(include='object').columns
print(cat_cols)

num_cols = df.select_dtypes(exclude='object').columns
print(num_cols)

Index(['age;"job";"marital";"education";"default";"housing";"loan";"contact";"month";"day_of_week";"duration";"campaign";"pdays";"previous";"poutcome";"emp.var.rate";"cons.price.idx";"cons.conf.idx";"euribor3m";"nr.employed";"y"'], dtype='object')
Index([], dtype='object')

In [59]:
df.describe()

       age;"job";"marital";"education";"default";"housing";"loan";"contact";"month";"day_of_week";"duration";"campaign";"pdays";"previous";"poutcome";"emp.var.rate";"cons.price.idx";"cons.conf.idx";"euribor3m";"nr.employed";"y"
count                                                4119
unique                                               4119
top     34;"management";"single";"high.school";"no";"y...
freq                                                    1

In [60]:
df.describe(include='object')

       age;"job";"marital";"education";"default";"housing";"loan";"contact";"month";"day_of_week";"duration";"campaign";"pdays";"previous";"poutcome";"emp.var.rate";"cons.price.idx";"cons.conf.idx";"euribor3m";"nr.employed";"y"
count                                                4119
unique                                               4119
top     34;"management";"single";"high.school";"no";"y...
freq                                                    1